div{
    height: 50px;
    /* border:2px solid black; */
    margin: 15px;
}

body{
    position: relative;
    top: 80px;
}

#A,#B,#C,#D,#E,#F{
    position: sticky;
    top:40px;
    background-color: aqua;
}